*.pkl
*.jpg
*.pth
*.pyc
__pycache__
*.h5
*.pyc
*.mkv
*.gif
*.webm
checkpoints/*
results/*
temp/*
segments.txt
*.sqlite
/.vs/video-retalking/FileContentIndex
/.vs/video-retalking/v17
/.vs/ProjectSettings.json
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
